 .u-section-1 {
  min-height: 934px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 83px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 934px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.6875rem;
  text-shadow: 2px 2px 0px rgba(71,138,201,1);
  font-family: "Archivo Black";
  font-weight: 400;
  margin: 140px -12px 0 12px;
}

.u-section-1 .u-image-2 {
  width: 445px;
  height: 325px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: none;
  margin: 19px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 934px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 228px auto 0 110px;
}

.u-section-1 .u-form-1 {
  height: 269px;
  margin: 0 195px 0 89px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  --radius: 12px;
  height: 40px;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  --radius: 12px;
  height: 40px;
}

.u-section-1 .u-btn-2 {
  width: 100%;
  --radius: 11px;
  background-image: none;
  padding: 10px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -26px auto 0 110px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1040px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 68px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 770px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 345px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 770px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 105px;
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 962px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 52px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 264px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 84px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 84px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1191px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 39px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 915px;
  }

  .u-section-1 .u-image-1 {
    height: 56px;
    margin-top: 0;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -17px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.0625rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    width: 427px;
    height: 342px;
    margin-top: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 30px;
  }

  .u-section-1 .u-form-1 {
    height: 254px;
    margin-top: -12px;
    margin-right: 58px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 38px;
  }
}